* {
    box-sizing: border-box;
  }
  
  .header {
      background-color: #f34949;
      color: #ffffff;
    }
  
  p{
      color: #ffffff;
    }
  
  body {
      font-family: "Arial";
      font-size: 1.3em;
      text-align: center;
      padding-top: 60px;
      margin: 0em;
    }
   .row::after {
        content: "";
        clear: both;
        display: table;
      }
  
  [class*="col-"] 
   {
      float: left;
      padding: 15px;
    }
  
    .col-1 {
      width: 8.33%;
    }
    .col-2 {
      width: 16.66%;
    }
    .col-3 {
      width: 25%;
    }
    .col-4 {
      width: 33.33%;
    }
    .col-5 {
      width: 41.66%;
    }
    .col-6 {
      width: 50%;
    }
    .col-7 {
      width: 58.33%;
    }
    .col-8 {
      width: 66.66%;
    }
    .col-9 {
      width: 75%;
    }
    .col-10 {
      width: 83.33%;
    }
    .col-11 {
      width: 91.66%;
    }
    .col-12 {
      width: 100%;
    }
  
  .article {
      color: #ffffff;
      text-align: center;
      padding: 3em;
  }
  
  .aside {
      background-color: #181a1b;
      padding: 15px;
      color: #ffffff;
      text-align: center;
      font-size: 13px;
      font-family: "Courier New", Courier, monospace;
      
  }
  
  
  img {
      max-width: 50%;
      height: auto;
    }
    
  
